{% extends 'base.html.twig' %}

{% block title %} Modification {{ voiture.immatriculation }}{% endblock %}
{% block monTitre %} Modification de la voiture {{ voiture.immatriculation }} {% endblock %}

{% block body %}
    <div class="container p-4 mb-4">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="container row ">
            <a href="{{ path('admin') }}" class=" col btn btn-primary btn-sm m-2"> Retour </a>
            <input type="submit" value="Valider" class=" col btn btn-success btn-sm m-2">
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
